{% extends 'base.twig' %}

{% block main %}
	<h1>Détail d'un livre</h1>
	<h2>{{ livre.titre }}</h2>
  <h3>Editeur : {{ livre.editeur }}</h3>
  <p>Prix : {{ livre.prix }}</p>
  <p>{{ livre.resume }}</p>
    <ul> Liste des auteurs du livre :
		{% if auteur_livres is empty %}
			<li>Aucun éditeur recencé pour ce livre</li>
		{% else %}
			{% for livre in auteur_livres %}
				<li>{{ livre.auteur_nom }} {{ livre.auteur_prenom }}</li>
			{% endfor %}  
		{% endif %}
		</ul>
	<p><a href="liste_livres.php">Retour</a></p>
{% endblock %}
